<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <commands>
      <command name="packman:starttracking" type="Unic.PackMan.Core.Commands.StartTracking, Unic.PackMan.Core" />
      <command name="packman:stoptracking" type="Unic.PackMan.Core.Commands.StopTracking, Unic.PackMan.Core" />
      <command name="packman:generatepackage" type="Unic.PackMan.Core.Commands.GeneratePackage, Unic.PackMan.Core" />
      <command name="packman:additem" type="Unic.PackMan.Core.Commands.AddItem, Unic.PackMan.Core" />
      <command name="packman:additemwithsubitems" type="Unic.PackMan.Core.Commands.AddItemWithSubitems, Unic.PackMan.Core" />
      <command name="packman:removeitem" type="Unic.PackMan.Core.Commands.RemoveItem, Unic.PackMan.Core" />
    </commands>

    <events>
      <event name="item:saved">
        <handler factory="ContainerFactory" ref="Unic.PackMan.Core.Events.ItemHandler, Unic.PackMan.Core" method="OnItemSaved" />
      </event>

      <event name="item:deleted">
        <handler factory="ContainerFactory" ref="Unic.PackMan.Core.Events.ItemHandler, Unic.PackMan.Core" method="OnItemDeleted" />
      </event>
    </events>

    <pipelines>
      <PackMan.StartTracking>
        <processor type="1" factory="ContainerFactory" ref="Unic.PackMan.Core.Pipelines.StartTracking.StartTracking, Unic.PackMan.Core" />
        <processor type="2" factory="ContainerFactory" ref="Unic.PackMan.Core.Pipelines.StartTracking.ClearTrackingList, Unic.PackMan.Core" />
      </PackMan.StartTracking>

      <PackMan.StopTracking>
        <processor type="1" factory="ContainerFactory" ref="Unic.PackMan.Core.Pipelines.StopTracking.StopTracking, Unic.PackMan.Core" />
      </PackMan.StopTracking>

      <PackMan.AddItem>
        <processor type="1" factory="ContainerFactory" ref="Unic.PackMan.Core.Pipelines.AddItem.AddItemToTrack, Unic.PackMan.Core" />
      </PackMan.AddItem>

      <PackMan.RemoveItem>
        <processor type="1" factory="ContainerFactory" ref="Unic.PackMan.Core.Pipelines.RemoveItem.RemoveItemFromTrack, Unic.PackMan.Core" />
      </PackMan.RemoveItem>
    </pipelines>

    <factories>
      <factory id="ContainerFactory" type="Unic.PackMan.Core.DependencyInjection.ContainerFactory, Unic.PackMan.Core" />
    </factories>

  </sitecore>
</configuration>