<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" developmentDependency="true" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Sitecore.Client" version="6.5.121009.31" targetFramework="net40" developmentDependency="true" />
  <package id="Sitecore.Kernel" version="6.5.121009.31" targetFramework="net40" developmentDependency="true" />
</packages>