<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <WebRoot>D:\Sitecore\Sitecore72Playground\Website</WebRoot>
  <MuckRecyleAppPool>false</MuckRecyleAppPool>
  <WebsiteCodeName>
  </WebsiteCodeName>
  <WebFolderName>Web</WebFolderName>
  <GlobalWebPath>D:\web</GlobalWebPath>
  <KeepAppConfigIncludes>
    *_base;
    *_hardening;
    *_$Environment;
    *_$Role;
    *_$Environment.$Role
  </KeepAppConfigIncludes>
</Configuration>
